.mainContainer {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 56px;
  flex-grow: 1;
}

/* Banner Block Styling */

.banner {
  background-color: #F0F4F8;
  padding: 20px 24px;
  display: flex;
  flex-direction: horizontal;
  min-width: 100%;
  border-radius: 12px;
  box-sizing: border-box;
}

.banner__header {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #202327;
  margin: 0px 0px 8px 0px;

}

.banner__desc {
  font-weight: 400;
  font-size: 0.825rem;
  line-height: 1rem;
  color: #202327;
  margin: 0;

}

.banner__button {
  font-weight: 600;
  font-size: 0.825rem;
  line-height: 1rem;
  color: #ffffff;
  padding: 10px 14px;
  background-color: #065B4E;
  border-radius: 8px;
  margin-left: auto;
  align-self: center;
  border: none;
}

/* Search Text & Bar Styling */

.search__header {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.375rem;
  color: #202327;
  margin: 0px 0px 24px 0px;
}

.search__bar {
  display: flex;
  position: relative;
  border-radius: 8px;
  background-color: #FFFFFF;
  border: 1px solid #E4E8ED;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.08);
  align-items: center;
}

.search__bar__icon {
  position: absolute;
  top: 16px;
  left: 16px;
}

.search__bar__input {
  font-size: 0.875rem;
  line-height: 1.25rem;
  height: 48px;
  padding: 0px 16px 0px 40px;
  border-radius: 8px;
  border: none;
  width: 100%;
  color: #202327;
}

.search__bar__input::placeholder {
  color: #6A7D9A;
}

/* Card Styling */

.cardcontainer {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 32px;
}

.stepcard {  
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #F0F4F8;
  border: 1px solid #E4E8ED;
  border-radius: 12px;
}

.stepcard__img {  
  border-radius: 8px;
}

.stepcard__text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0;
  color: #202327;
}

/* Table Styling */

.tablelist {
  background-color: #FFFFFF;
  border-radius: 12px;
  border: 1px solid #E4E8ED;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  width: 100%;
}

.tablelist__wrapper{
  padding: 24px;
  border-bottom: 1px solid #E4E8ED;
  display: flex;
  position: relative;
  align-items: center;
  gap: 16px;
}

.tablelist__wrapper:last-of-type{
  border-bottom: none;
}

.tablelist__img {
  border-radius: 40px;
}

.tablelist__infowrapper {
  flex-grow: 1;
  flex-shrink: 1;
}

.tablelist__name {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #202327;
  margin: 0px !important;
}

.tablelist__info {
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: #6A7D9A;
  margin: 0px !important;
}
